body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .form-header {
        display: flex;
        background-color: coral;
        justify-content: start;
        padding-left: 40px;
    }

    .form-button {
        height: 40px;
        border-radius: 4px;
    }

    .form-button:hover:not([disabled]) {
        background-color: rgb(199, 99, 62);
    }

    .form-button:not([disabled]) {
        background-color: coral;
        color: white;
        border: none;
    }
}

.helper-text {
    font-size: 16px;
}

.helper-text[data-error="true"] {
    color: red;
}

.helper-text[data-error="false"] {
    display: none;
}

.info-text {
    font-size: 14px;
    margin-top: 0.7rem;
}

#form input:not([type="checkbox"]) {
    height: 30px;
    padding-left: 10px;
    padding-right: 30px;
}

#form input {
    margin-top: 6px;
}

#form input:focus-visible {
    outline: 1px solid #8e8e8e;
}

#form input.valid:focus-visible {
    outline: 1px solid lightgreen;
}

#form input.invalid:focus-visible {
    outline: 1px solid red;
}

.input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px 40px;

    .check-icon {
        position: absolute;
        right: 0px;
        padding: 30px 50px;
        pointer-events: none;
        color: lightgreen;
        display: none;
    }
}

.input-group input:not([type="checkbox"]) {
    border-radius: 2px;
    border: 1px solid #8e8e8e;
}

.input-group input.valid {
    border: 2px solid lightgreen;
}

.input-group input.valid {
    border: 2px solid lightgreen;
}

.input-group:last-child {
    margin-bottom: 40px;
}

span.show-password-text {
    font-weight: bold;
    color: #696363;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: coral;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover:disabled .tooltiptext {
    visibility: visible;
    display: flex;
    margin-top: 0.5rem;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: coral;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
